<div class="activities-component">
    <div class="activities-header">
        <h2>Recent Activities</h2>
    </div>
    {% for message in room_messages %}
    <div class="activities-card">
        <div class="activities-card-header">
            <span>
            <a href="{% url 'user-profile' message.user.id %}" class="room-list-char">
                <div class="avatar avatar--small">
                    <img src="{{message.user.avatar.url}}" />
                </div>
                <p>
                    @{{message.user.username}}
                    <span>{{message.created|timesince}} ago</span>
                </p>
            </a>
            </span>

            {% if request.user == message.user %}
                <span>
                <a href="{% url 'delete-message' message.id %}">
                    <i class="fa-solid fa-xmark"></i>
                </a>
                </span>
            
            {% endif %}

        </div>
        <div class="activities-card-body">
            <p>mentioned “<a href="{% url 'room-page' message.room.id %}">{{message.room}}</a>”</p>
            <div class="message-box">{{message.body}}</div>
        </div>
    </div>
    {% endfor %}

</div>