{% extends 'main.html' %}

{% block content %}
<div class="new-room">
  <div class="container">
    <div class="new-room-card">
      <div class="new-room-card-header">
          <a href="{% url 'home-page' %}">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
          </a>
          <h3>Update your profile</h3>
      </div>
      <div class="new-room-form">
        <form class="form" action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          {% for field in form %}
          <div class="new-room-form-group">
            <label for="profile_pic">{{field.label}}</label>
            {{field}}
          </div>
          {% endfor %}


          <div class="new-room-form-action">
            <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Back</a>
            <button class="btn btn--main" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock content %}