{% extends 'main.html' %}

{% block content %}


  <div class="container">

    <div class = "col-md-2 movie-panel">
    {% include 'base/movie_panel.html' %}
    </div>

    

    <!-- Room List Start -->
    <div class="roomList col-md-6">
      <div class="room-list-header">
        <div>
          <h2>Chat Rooms</h2>
          <p>{{room_count}} Rooms available</p>
        </div>

        <a class="btn btn--main" href="{% url 'create-room' %}">
          New Room
        </a>
      </div>

      {% include 'base/rooms_element.html' %}

    </div>
    <!-- Room List End -->
    <div class = 'col-md-4 activity-element'>
    {% include 'base/activity_element.html' %}
  </div>
  </div>


{% endblock %}